#carCrash {
  position: relative;
  width: 1250px;
  height: 600px;
  background-color: gray;
}

.Vehicle {
  position: absolute;
  height: 50px;
  width: 75px;
  background-color: yellow;
}

.Car {
  position: absolute;
  height: 50px;
  width: 75px;
  background-color: blue;
  animation-direction: reverse;
}

.CopCar {
  position: absolute;
  height: 50px;
  width: 75px;
  background-color: red;
}

.Motorcycle {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: green;
}

.Tank {
  position: absolute;
  height: 75px;
  width: 75px;
  background-color: black;
}

